<div class="my-footer">
    <div class="copyright-div">
      &#169; Copyright Shop Assistant
    </div>

    <div class="social-media" style="align-items: flex-end; justify-content: center;align-content: center;">

      <div routerLink="facebook" class="icon-div">
        <i  class="pi pi-facebook icon-sm"></i>
      </div>

      <div  routerLink="instagram"  class="icon-div">
        <img src="https://i.ibb.co/7YR16tg/insta.png" class="pi pi-phone icon-sm" style="width: 30px;">
      </div>

      <div   routerLink="twitter" class="icon-div">
        <i class="pi pi-twitter icon-sm"></i>
      </div>
    </div>
  </div>
