.page {
  width: 80%;
  margin: 3% auto 0 auto;
  font-family: "SanaSansAltBold", sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.list-products-div {
  width: 100%;
  margin-bottom: 10px;
}

.small-image {
  height: 45px;
}
.div-image {
  text-align: center;
}

.title-div {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

.title-product {
  font-weight: bold;
  font-size: 15px;
  width: 80%;
}

.stock {
  color: green;
  font-size: 13px;
  margin-top: 5px;
  width: 80%;
}

.price {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.newprice {
  font-size: 18px;
  font-weight: bold;
  width: 60%;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.total-comanda {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.empty-div {
  width: 80%;
  margin: 60px auto;
  position: relative;
}

:host ::ng-deep .empty-shop-cart .p-card-header {
  text-align: center;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
}

:host ::ng-deep .empty-shop-cart .p-card-body {
  text-align: center;
  height: 390px;
}

.empty-cart-image {
  height: 200px;
  margin: auto;
}

:host ::ng-deep .empty-shop-cart .p-card-footer {
  text-align: end;
}

.desktopDevice{
  display: none;
}
.mobileDevice{
  display: flex;
}

@media only screen and (min-width: 480px) {
  .delete-button {
    margin-left: 15px;
  }
  .desktopDevice{
    display: flex;
  }
  .mobileDevice{
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .empty-div {
    margin-top: 100px;
  }

  .small-image {
    height: 100px;
  }
  .title-product {
    font-size: 18px;
  }
  .stock {
    font-size: 18px;
  }
  :host ::ng-deep .empty-shop-cart .p-card-header {
    font-size: 23px;
  }
}

@media only screen and (min-width: 1024px) {
  .empty-div {
    margin-top: 50px;
  }

  .list-products-div {
    width: 60%;
  }

  .total-comanda {
    width: 30%;
    margin-left: 10%;
    margin-top: 0%;
  }

  .empty-cart-image {
    height: 300px;
  }
}

:host ::ng-deep .p-card .p-card-content {
  padding: 0;
}

:host ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
  height: 1.557rem;
}
:host ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
  width: 1.557rem;
}
/* Total Price Div  */

.total-price-title {
  font-weight: bold;
}

.oldprice {
  margin-top: 5px;
  width: 60%;

  color: gray;
}

