<div class="page" *ngIf="isPageInfoLoaded && !isCardPayment">

  <!-- =================  empty card   ================= -->
  <div *ngIf="products.length==0" class="empty-div">
    <p-card styleClass='empty-shop-cart'>

      <ng-template pTemplate="header">
        Your Shopping Cart is Empty
      </ng-template>

      <img class="empty-cart-image" src="https://i.ibb.co/q14vMsW/emc.png" alt="emc">
      <ng-template pTemplate="footer">
        <button mat-raised-button color="primary" routerLink='/home'>
          <mat-icon>
            search</mat-icon> Find a Product
        </button>
      </ng-template>
    </p-card>
  </div>

  <div *ngIf="products.length!=0" class="list-products-div">
    <p-card>
      <div *ngFor="let item of products">
        <div class="p-grid">
          <!-- ===================== Image ===================== -->
          <div class="p-col-3 div-image">
            <img src='{{ "assets/images/" + item.product?.pathToImage }}' class="small-image">
          </div>
          <!-- ===================== Title ===================== -->
          <div class="title-div" [routerLink]="'/barcode-scan/'+item.product?.barcode">

            <div class="title-product ">
              {{item.product?.title}}
            </div>

            <div class="stock">
              In stock
            </div>
          </div>
          <!-- ===================== Price ===================== -->
          <div class="price">
            <div class="newprice">
              {{item.product?.newPrice}} Lei
            </div>

            <div class="oldprice">
              <span style=" text-decoration: line-through;"> {{item.product?.oldPrice}} Lei </span>
            </div>
          </div>
          <!-- ===================== Buttons ===================== -->
          <div class="buttons">
            <button pButton pRipple type="button" (click)="minus(item)" icon="pi pi-minus"
              class="p-button-rounded p-button-plain p-button-danger"></button>

            <div style="margin: auto 8px; text-align: center;">{{item.quantity}}</div>

            <button pButton pRipple type="button" (click)="plus(item)" icon="pi pi-plus"
              class="p-button-rounded p-button-plain"></button>

            <button pButton pRipple type="button" (click)="deleteProductShoppingCart(item)" icon="pi pi-trash"
              class="p-button-rounded p-button-plain  p-button-secondary delete-button"></button>

          </div>
        </div>
        <p-divider></p-divider>
      </div>

      <ng-template pTemplate="footer">
        <span style="font-size: 20px; font-weight: 500;"> Total Price: {{productsPrice +deliveryCost}} Lei</span>
      </ng-template>
    </p-card>
  </div>


  <!-- Total Comanda -->
  <div *ngIf="products.length!=0" class="total-comanda">
    <p-card>
      <span class="total-price-title">
        Sumar comanda
      </span>
      <div class="p-grid">
        <div class="p-col-6">
          Products Cost
        </div>
        <div class="p-col-6" style="text-align: right;">
          {{productsPrice }} lei
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-6">
          Delivery Cost
        </div>
        <div class="p-col-6" style="text-align: right;">
          {{deliveryCost}} lei
        </div>
      </div>

      <p-divider></p-divider>

      <div style="font-weight: bold; font-size: 20px;">
        Total :
      </div>
      <div style="font-weight: bold; font-size: 25px;">
        {{productsPrice + deliveryCost}}<span style="font-size: 18px;">.00</span> Lei
      </div>

      <div style="display: flex;justify-content:center;flex-wrap: wrap;">
        <button mat-raised-button color="primary" style="margin: 10px 30%; width: 40%;" (click)="activateCardPayment()">
          Pay Now
        </button>
        <button mat-raised-button color="warn" style="width: 40%;" (click)="placeOrderLaterPayment()">
          Pay Later
        </button>
      </div>
    </p-card>
  </div>
</div>

<!-- credit cart  -->

<app-credit-card [totalBill]="productsPrice + deliveryCost" *ngIf="isCardPayment" (payEvent)="payOrder($event)"
  (backEvent)="deactivateCardPayment()">

</app-credit-card>