<div style="width: 80%;margin: 3% auto 0 auto; font-family: 'SanaSansAltBold', sans-serif;">
  <div style="display: flex; flex-wrap: wrap;">
    <div class="p-col-8">

      <p-card>
        <div *ngFor="let item of products">
          <div class="p-grid">
            <!-- ===================== Image ===================== -->
            <div class="p-col-3 div-image">
              <img src='{{ "assets/images/" + item.product?.pathToImage }}' class="small-image">
            </div>
            <!-- ===================== Title ===================== -->
            <div class="center-div p-col-4">
              <div class="title-product">
                {{item.product.title}}
              </div>
            </div>
            <!-- ===================== Price ===================== -->
            <div class="center-div p-col-2">
              <div style="font-size: 18px;font-weight: bold;">
                {{item.product.newPrice}} Lei
              </div>
            </div>

            <!-- ===================== Buttons ===================== -->
            <div class="center-div p-col-2">

              <button pButton pRipple type="button" (click)="minus(item)" icon="pi pi-minus"
                class="p-button-rounded p-button-plain p-button-danger"></button>

              <div style="margin: auto 5px; text-align: center;">{{item.quantity}}</div>

              <button pButton pRipple type="button" (click)="plus(item)" icon="pi pi-plus"
                class="p-button-rounded p-button-plain"></button>

              <button pButton pRipple type="button" (click)="deleteProductShoppingCart(item)" icon="pi pi-trash" style="margin-left: 10px;"
                class="p-button-rounded p-button-plain  p-button-secondary"></button>

            </div>
          </div>
          <p-divider></p-divider>
        </div>

        <ng-template pTemplate="footer">
          <span style="font-size: 20px; font-weight: 500;"> Total Price: {{totalPrice + 10}} Lei</span>
        </ng-template>
      </p-card>
    </div>

    <div class="p-col-3 p-offset-1">
      <p-card styleClass>

        <span class="total-price-title">
          Sumar comanda
        </span>
        <div class="p-grid">
          <div class="p-col-6">
            Cost produse
          </div>
          <div class="p-col-6" style="text-align: right;">
            {{totalPrice + 10}} lei
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-6">
            Cost Livrare
          </div>
          <div class="p-col-6" style="text-align: right;">
            10 lei
          </div>
        </div>

        <p-divider></p-divider>


        <div style="font-weight: bold; font-size: 20px;">
          Total :
        </div>
        <div style="font-weight: bold; font-size: 25px;">
          {{totalPrice + 10}}<span style="font-size: 18px;">.00</span> Lei
        </div>



      </p-card>
    </div>
  </div>
</div>