<div class="main-div">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Card Payment</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <form [formGroup]="cardForm" (ngSubmit)="payOrder()">

        <mat-form-field style="width: 100%;">
          <input matInput formControlName="cardno" placeholder="Card Number" card-number>
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="20px">

          <mat-form-field class="full-width">
            <input matInput formControlName="firstName" placeholder="First Name" card-name>
            <mat-error *ngIf="firstName?.hasError('required')">
              First Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput formControlName="lastName" placeholder="Last Name" card-name>
            <mat-error *ngIf="lastName?.hasError('required')">
              Last Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field class="full-width">

            <mat-label>Expiration date</mat-label>
            <!-- <input formControlName="expDate" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker> -->

            <input formControlName="expDate" matInput [matDatepicker]="dp2" placeholder="Select a Date" (click)="openDatePicker(dp2)">
            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2 startView="multi-year" (monthSelected)="closeDatePicker($event, dp2)"></mat-datepicker>

            <mat-error *ngIf="expDate?.hasError('required')">
              Expiration date is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput formControlName="cvvNo" placeholder="CVV">
            <mat-error *ngIf="cvvNo?.hasError('pattern')  && !cvvNo?.hasError('required')">
              Please enter a valid CVV
            </mat-error>
            <mat-error *ngIf="cvvNo?.hasError('required')">
              CVV is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="p-col-12">
          <div class="p-grid" style="align-items: center;">

            <div class="p-col-3 text-amount">
              Total Billed
            </div>
            <div class="p-col-3 text-amount">
              {{totalBill}} Lei
            </div>


            <div class="p-col-2 ">
              <img src="assets\images\pp.png" class="image-pp">
            </div>
          </div>
        </div>

        <div class="p-col-12">

        </div>

        <div class="p-col-12" style="margin-top: 20px;">
          <div class="p-grid p-jc-center" style="margin-right: 2%;">
            <div class="p-col-3">
              <button mat-raised-button color="primary" style="width: 100%;"
                (click)="backToShoppingCart()">Back</button>
            </div>

            <div class="p-col-3 p-offset-2">
              <button mat-raised-button color="primary" style="width: 100%;">Pay</button>
            </div>
          </div>
        </div>

      </form>
    </mat-card-content>



  </mat-card>
</div>