.main-div {
  margin: 15% auto;
  width: 80%;
}

.full-width {
  width: 40%;
}

.image-pp {
  width: 130px;
}


.text-amount {
  font-size: 18px;
  font-weight: 600;
  font-family: "SanaSansAltBold", sans-serif;
}



@media only screen and (min-width: 480px) {
  

  .full-width {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .main-div {
    margin: 3% auto;
    width: 35%;
  }

  .image-pp {
    width: 190px;
  }
  
}

