.full-width {
  width: 100%;
}

.card-margin {
  margin: 5%;
}

.btn-reg {
  background: rgb(62, 150, 153);
}

.warn {
  color: red;
}

.card-div {
  width: 100%;
  margin: auto;
}

.main-div {
  margin: 2% auto;
  width: 35%;
}

.image-pp {
  width: 200px;
}

.text-amount {
  font-size: 18px;
  font-weight: 600;
  font-family: "SanaSansAltBold", sans-serif;
}

