<div class="main-div">

  <mat-card [ngClass]="{'card-div':true}">
    <mat-card-header>
      <mat-card-title>Card Payment</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <form [formGroup]="cardForm" (ngSubmit)="payOrder()">

        <mat-form-field class="full-width">
          <input matInput formControlName="cardno" placeholder="Card Number" card-number>
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="20px">

          <mat-form-field class="full-width">
            <input matInput formControlName="firstName" placeholder="First Name" card-name>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput formControlName="lastName" placeholder="Last Name" card-name>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field class="full-width">
            <input matInput formControlName="expDate" placeholder="Expiration Date" card-expiry>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput formControlName="cvvNo" placeholder="CVV" card-cvc>
          </mat-form-field>
        </div>

        <div class="p-col-12">
          <div class="p-grid" style="align-items: center;">

            <div class="p-col-3 text-amount">
              Total Billed
            </div>
            <div class="p-col-3 text-amount">
              {{totalBill}} Lei
            </div>


            <div class="p-col-2 ">
              <img src="assets\images\pp.png" class="image-pp">
            </div>
          </div>
        </div>

        <div class="p-col-12">

        </div>

        <div class="p-col-12" style="margin-top: 20px;">
          <div class="p-grid p-jc-center " style="margin-right: 2%;">
            <div class="p-col-3">
              <button mat-raised-button color="primary" style="width: 100%;"
                (click)="backToShoppingCart()">Back</button>
            </div>

            <div class="p-col-3">
              <button mat-raised-button color="primary" style="width: 100%;">Pay</button>
            </div>
          </div>
        </div>

      </form>
    </mat-card-content>



  </mat-card>
</div>