<div class="page" *ngIf="isPageInfoLoaded && !isCardPayment">

  <div *ngIf="products.length==0" style="width: 80%;margin:5px auto;">
    <p-card styleClass='empty-shop-cart'>

      <ng-template pTemplate="header">
        Your Shopping Cart is Empty
      </ng-template>

      <img class="empty-cart-image" src="https://i.ibb.co/q14vMsW/emc.png" alt="emc">
      <ng-template pTemplate="footer">
        <button mat-raised-button color="primary" routerLink='/home'>
          <mat-icon>
            search</mat-icon> Find a Product
        </button>
      </ng-template>
    </p-card>
  </div>

  <div *ngIf="products.length!=0" class="list-products-div">
    <p-card>
      <div *ngFor="let item of products">
        <div class="p-grid">
          <!-- ===================== Image ===================== -->
          <div class="p-col-3 div-image">
            <img src='{{ "assets/images/" + item.product?.pathToImage }}' class="small-image">
          </div>
          <!-- ===================== Title ===================== -->
          <div class="title-div" [routerLink]="'/barcode-scan/'+item.product.barcode">

            <div class="title-product ">
              {{item.product.title}}
            </div>

          </div>
          <!-- ===================== Price ===================== -->
          <div class="price">
            <div class="newprice">
              {{item.product.newPrice}} Lei
            </div>
          </div>

          <div class="price"> {{item.quantity}} Buc</div>

        </div>
        <p-divider></p-divider>
      </div>

      <ng-template pTemplate="footer">
        <span style="font-size: 20px; font-weight: 500;"> Total Price: {{productsPrice +deliveryCost}} Lei</span>
      </ng-template>
    </p-card>
  </div>


  <!-- Total Comanda -->
  <div *ngIf="products.length!=0" class="total-comanda">
    <p-card>
      <span class="total-price-title">
        Sumar comanda
      </span>
      <div class="p-grid">
        <div class="p-col-6">
          Products Cost
        </div>
        <div class="p-col-6" style="text-align: right;">
          {{productsPrice }} lei
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-6">
          Delivery Cost
        </div>
        <div class="p-col-6" style="text-align: right;">
          {{deliveryCost}} lei
        </div>
      </div>

      <p-divider></p-divider>

      <div style="font-weight: bold; font-size: 20px;">
        Total :
      </div>


      <div style="display: flex;justify-content:space-between;">

        <div style="font-weight: bold; font-size: 25px;">
          {{productsPrice + deliveryCost}}<span style="font-size: 18px;">.00</span> Lei
        </div>

        <button *ngIf="!(order.payments?.length>0)" mat-raised-button color="primary" (click)="activateCardPayment()">
          Pay Now
        </button>
      </div>

      <p-divider></p-divider>

      <div class="p-grid">
        <div class="p-col-6">
          Order Date
        </div>
        <div class="p-col-6" style="text-align: right;">
          {{order.orderDate |date}}
        </div>
      </div>

      <div *ngIf="order.payments?.length>0" class="p-grid">
        <div class="p-col-6">
          Payment Date
        </div>
        <div class="p-col-6" style="text-align: right;">
          {{order.payments[0].date | date}}
        </div>
      </div>
    </p-card>
  </div>
</div>

<!-- credit cart  -->

<app-credit-card [totalBill]="productsPrice + deliveryCost" *ngIf="isCardPayment" (backEvent)="deactivateCardPayment()"
  (payEvent)="placeOrder($event)">

</app-credit-card>