<div class="page" *ngIf="isPageInfoLoaded && !isCardPayment">

  <div *ngIf="products.length!=0" class="list-products-div">
    <p-card>
      <div *ngFor="let item of products">
        <div class="p-grid">
          <!-- ===================== Image ===================== -->
          <div class="p-col-3 div-image">
            <img src='{{item?.pathToImage }}' class="small-image">
          </div>
          <!-- ===================== Title ===================== -->
          <div class="title-div" [routerLink]="'/product-details/'+item.barcode">

            <div class="title-product ">
              {{item.title}}
            </div>

          </div>
          <!-- ===================== Price ===================== -->
          <div class="price">
            <div class="newprice">
              {{item.newPrice}} Lei
            </div>
          </div>

          <div class="price"> {{item.quantity}} Buc</div>

        </div>
        <p-divider></p-divider>
      </div>

      <ng-template pTemplate="footer">
        <span style="font-size: 20px; font-weight: 500;"> Products Price: {{productsPrice}} Lei</span>
      </ng-template>
    </p-card>
  </div>


  <!-- Total Comanda -->
  <div *ngIf="products.length!=0" class="total-comanda">
    <p-card>
      <span class="total-price-title">
        Order Summary
      </span>
      <div class="p-grid">
        <div class="p-col-6">
          Products Cost
        </div>
        <div class="p-col-6" style="text-align: right;">
          {{order.productsCost }} lei
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-6">
          Delivery Cost
        </div>
        <div class="p-col-6" style="text-align: right;">
          {{deliveryCost}} lei
        </div>
      </div>

      <div class="p-grid" *ngIf="order.interest>0">
        <div class="p-col-6">
          Interest
        </div>
        <div class="p-col-6" style="text-align: right;">
          {{interest}} lei
        </div>
      </div>

      <p-divider></p-divider>

      <div style="font-weight: bold; font-size: 20px;">
        Total :
      </div>

      <div style="display: flex;justify-content:space-between;">

        <div style="font-weight: bold; font-size: 25px;">
          {{totalCost}}
          <span style="font-size: 18px;">
            <!-- .00 -->
            Lei
          </span>
        </div>

        <button *ngIf="!(order.payment)" mat-raised-button color="primary" (click)="activateCardPayment()">
          Pay Now
        </button>
      </div>

      <p-divider></p-divider>

      <div class="p-grid">
        <div class="p-col-6">
          Order Date
        </div>
        <div class="p-col-6" style="text-align: right;">
          {{order.orderDate | date :"dd.MM.yyyy"}}
        </div>
      </div>

      <div *ngIf="order.payment" class="p-grid">
        <div class="p-col-6">
          Payment Date
        </div>
        <div class="p-col-6" style="text-align: right;">
          {{order.payment.date | date :"dd.MM.yyyy"}}
        </div>
      </div>
    </p-card>
  </div>
</div>

<!-- credit cart  -->

<app-credit-card [totalBill]="totalCost" *ngIf="isCardPayment" (backEvent)="deactivateCardPayment()"
  (payEvent)="payOrder($event)">

</app-credit-card>