
.icon-align {
  font-size: 35px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.companyName {
  font-size: 130%;
}

.mat-toolbar {
  height: 8.5vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container {
  min-height: 91.5vh !important;
}

.example-spacer {
  flex: 1 1 auto;
}

