.icon-align {
  font-size: 35px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.icon-align-phone {
  font-size: 15px;
}

.title {
  font-size: 130%;
}

.mat-toolbar {
  height: 8.5vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container {
  min-height: 86.5vh !important;
}

.example-spacer {
  flex: 1 1 auto;
}

/* ======  footer ====== */
.my-footer {
  height: 5vh;
  background: rgb(206, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 35%;
}

.icon-sm {
  font-size: 1.23rem;
  vertical-align: bottom;
  margin: 0 5px;
}



@media only screen and (min-width: 768px) {
  .copyright-div {
    width: 50%;
    margin-left: 38%;
  }
}


@media only screen and (min-width: 1024px) {
  .icon-sm {
    width: 20%;
    margin: 0 10px;
  }

  .copyright-div {
    width: 50%;
    margin-left: 45%;
  }
}
