<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <button mat-button class="title" routerLink="/home" (click)="navigateOnClickTitle()">
      <span>Shop Assistant</span>
    </button>

    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">

      <div *ngIf="authenticationService.isLoggedIn() && getShopC()!=null && getFav()!=null">
        <button mat-button routerLink='shopping-cart'>
          <mat-icon [matBadge]="getShopC()" matBadgeColor="warn" class="icon-align">
            shopping_cart</mat-icon>
        </button>

        <button mat-button routerLink='favorite-products'>
          <mat-icon [matBadge]="getFav()" matBadgeColor="warn" class="icon-align">
            favorite</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="icon-align">person
          </mat-icon>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button *ngIf="authenticationService.isLoggedIn()" routerLink="/detect-qr-code" mat-menu-item>Connect Raspberry
        </button>
        <button *ngIf="authenticationService.isLoggedIn()" routerLink="/orders-history" mat-menu-item>Orders
          History</button>
        <button *ngIf="authenticationService.isLoggedIn()" (click)="logout()" mat-menu-item>Logout</button>
      </mat-menu>
    </div>

  </mat-toolbar>


  <!-- ===== mobile ======= -->
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <button *ngIf="authenticationService.isLoggedIn()" mat-button (click)="navigateOnClickTitle()"> Home</button>
        <button *ngIf="authenticationService.isLoggedIn()" routerLink="/detect-qr-code" mat-menu-item>Connect Raspberry
        </button>
        <button *ngIf="authenticationService.isLoggedIn()" mat-button routerLink="/shopping-cart"> Shopping
          Cart</button>
        <button *ngIf="authenticationService.isLoggedIn()" mat-button routerLink="/favorite-products"> Favourite
        </button>
        <button *ngIf="authenticationService.isLoggedIn()" routerLink="/orders-history" mat-menu-item>Orders
          History</button>
        <button *ngIf="authenticationService.isLoggedIn()" (click)="logout()" mat-button>Logout</button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <app-footer></app-footer>
</div>