@media only screen and (max-width: 450px) {
  .login-card {
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    width: 70%;
  }
}

@media only screen and (min-width: 450px) {
  .login-card {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    width: 26%;
  }
}



.input-form-field {
  width: 80%;
  display: block;
  margin: 5px auto;
}

.header-text {
  text-align: center;
}

.card-content {
  margin-top: 5%;
}

.login-button {
  margin: 4.5% auto 3.5% auto;
  display: block;
  width: 80%;
}
.link {
  text-align: right;
}
