.login-card {
  margin: 25% auto 1%;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.input-form-field {
  width: 80%;
  display: block;
  margin: 5px auto;
}

.header-text {
  text-align: center;
}

.card-content {
  margin-top: 5%;
}

.login-button {
  margin: 4.5% auto 3.5% auto;
  display: block;
  width: 80%;
}
.link {
  text-align: right;
}

@media only screen and (min-width: 450px) {
  .login-card {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .login-card {
    margin-top: 15%;
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .login-card {
    margin-top: 6%;
    width: 23%;
  }
}
