<div class="title">
  Find a product
</div>

<div class="autocomplete-div">

  <p-autoComplete [(ngModel)]="product" [suggestions]="productsSuggestion" (completeMethod)="filterProducts($event)"
    [dropdown]="true" placeholder='Type the barcode' field="barcode" inputStyleClass='input-autocomplete'
    (onSelect)="select($event)" [size]="40" [minLength]="3">

    <ng-template let-product pTemplate="item">
      <div class="list-products">
        <div class="p-col-3">
          <img src='assets/images/{{product.pathToImage}}' class="small-image" />
        </div>
        <div class="p-col-6 barcode">
          <!-- <div style="white-space:pre-wrap;" >
            {{product.title}}
          </div> -->
          <div>
            {{product.barcode}}
          </div>

        </div>
      </div>
    </ng-template>
  </p-autoComplete>
  <!-- <span class="p-inputgroup-addon" style="height: 50px;">
    <i class="pi pi-search"></i></span> -->

</div>

<div class="main-image-div">
  <img src="https://i.ibb.co/Cn3Ygy8/virtual-shopping-assistant-674x400.png" alt="virtual-shopping-assistant-674x400"
    class="main-image">
</div>