.autocomplete-div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100px;
}

:host ::ng-deep .large-input > .p-inputtext {
  height: 50px;
}
:host .hg-aut {
  height: 60px;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin: 5% 0 1% 0;
}

:host ::ng-deep .bshadow {
  text-align: center;
}

:host ::ng-deep .bshadow > img {
  width: 50%;
}

.list-products {

  display: flex;
  flex-wrap: wrap;
}

.small-image {
  width: 40%;
}

.barcode {
  padding-right: 15%;
}
